@using ProjectManager.Web.Components
@using ProjectManager.Web.Components.ProjectComponents
@inherits LayoutComponentBase
@layout BasicLayout

<PageTitle>Project Manager</PageTitle>

<div class="page">
    @if (navManager.Uri == navManager.BaseUri+"pm"
        || navManager.Uri == navManager.BaseUri + "general-calendar")
    {
        <div class="sidebar">
            <SideNav />
        </div>
    }
    else if (navManager.Uri.Contains("project"))
    {
        <div class="sidebar">
            <ProjectNav/>
        </div>
    }
    <main>
        <AuthorizeView>
            <NotAuthorized>
                <LoginRedirect/>
            </NotAuthorized>
            <Authorized>
                @Body
            </Authorized>
        </AuthorizeView>
    </main>
@*    @if (navManager.Uri.Contains("project"))
    {
        <div class="user-list">
            <MemberList/>
        </div>
    }*@
</div>
