@using ProjectManager.Web.Components
@using ProjectManager.Web.Components.ProjectComponents

@inherits LayoutComponentBase
@layout CascadeLayout

<div>
    @Body
</div>
<div class="user-list">
    <MemberList/>
</div>
