@{
    ViewData["Title"] = "Start page";
}
<div class="row">
    <div class="col-md-4">
        <ul>
            <li><a href="/swagger">API Documentation (Swagger)</a></li>
            <li><a href="/pm">PM</a></li>
        </ul>
    </div>
</div>
