@page "/project/general"
@using ProjectManager.Web.Components.ProjectComponents

@layout ProjectLayout

<div class="row ms-3 mt-3 content-block">
    <div class="col-lg-9 pt-5 undeveloped-space">
         <div class="undeveloped-space-text">THERE WILL BE CONTENT</div>
    </div>
</div>

