@page "/project/general"
@using ProjectManager.Web.Components.ProjectComponents

@layout ProjectLayout

<div class="row ms-3 mt-3 content-block">
    <div class="col-lg-9 pt-5 border">
        <div class="border mt-5 ms-3">

        </div>
    </div>
</div>

