.calendar-container {
    margin-left: 4%;
}

section {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #dbdbdb;
    height: 100%;
    grid-gap: 1px;
    background-color: #8d8d8d;
    overflow: scroll;
}

    section > div {
        padding: 5%;
        background-color: #0b0d11;
        width: 100%;
        height: 16vh;
        position: relative;
    }

::-webkit-scrollbar {
    display: none;
}

.calendar-nav {
    display: inline-block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

    .calendar-nav > div {
        padding: 5px;
        float: left;
        width: 100%;
    }

.week-nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

    .week-nav > div {
        font-size: 12px;
        color: #8d8d8d;
        text-align: center;
    }

.month-span {
    float: right;
}

.nav-button {
    background-color: rgba(0,0,0,0);
    color: #fdfdfd;
    border: none;
    padding-inline: 2%;
}

.row-div {
    width: 101%;
}

.main-section {
    padding: 0;
}

.nav-section {
    padding-right: 0;
}

.gray-span {
    color: #8d8d8d;
}

.today {
    border: 2px solid #8100cb;
    border-radius: 0.5rem;
}

.day-span {
    display: block;
}

.appointment {
    cursor: pointer;
    font-size: 2rem;
    color: #3F7CC6;
    margin-right: 0.7rem;
}

.assignment {
    cursor: pointer;
    font-size: 2rem;
    color: #C63F3F;
    margin-right: 0.7rem;
}

.add-button {
    cursor: pointer;
    position: absolute;
    right: 0.8rem;
    top: 0.7rem;
}
