.home-row {
    min-height: 50vh;
}

.left {
    height: 90vh;
    position: relative;
}

.right {
    height: 90vh;
    display: flex;
    flex-flow: column;
}

.lower-section {
    bottom: 0;
    height: 100%;
}
