.user-role {
    color: #8d8d8d;
    font-size: 0.8rem;
}

.user-icon {
    font-size: 2.5rem;
    color: #8d8d8d;
}

.user-avatar {
    width: 2.5rem;
    border-radius: 50%;
    margin-top: 0.1rem;
    margin-left: 0.25rem;
}
